In [19]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('~/repos/z3stringnet/plaquett_lattice_0.csv')

In [4]:
df

    x  y  N  E  S  W
0   0  0  B  B  W  B
1   1  0  E  B  E  B
2   2  0  B  B  E  B
3   3  0  W  B  B  B
4   1  1  B  N  E  S
5   2  1  W  N  B  N
6   3  1  E  S  W  N
7   0  1  W  S  B  S
8   0  2  B  N  W  N
9   1  2  W  S  B  N
10  2  2  E  S  W  S
11  3  2  E  N  E  S
12  1  3  E  B  W  S
13  2  3  E  S  E  B
14  3  3  B  S  E  S
15  0  3  W  S  B  S

# Link Encodings

It is worth trying some different encodings. I can see some benifits 
and problems with the different approached and will probably just 
need to work through them by trying them. Here are some notes and
thoughts.

* Right now I believe the best thing to do is to physicaly represent links
  in a "location" We will have zeros "represent" the locations on the
  verticies and the centers of the plaquetts. 
* If you do the above you  still have some options for labeling the links.
  - You can use 1, 2, 3, 4, 5 to represent blank, up (N), down (S), right (E),
    left (W) respectivly. In this case horizontal links can only  take values
    1, 4, 5. Vertical links can only take values 1, 2, 3
  - You could also use values 1, 2, 3 for blank, up/righ, down/left
    and the contect of the position in the matrix which determines if it
    is a horizontal link or a vertical link would distiguish between
    up and right, and down and left.
* Of the above I think the second one would be nicer but I'm not sure if
  you could confuse the encoder to something important. GOing to start with
  the first subbullet above and after I get something working try the second

In [14]:
def string_to_number_directions(r, column):
    link_str = r[column]
    if link_str == 'B':
        return 1
    elif link_str == 'N':
        return 2
    elif link_str == 'S':
        return 3
    elif link_str == 'E':
        return 4
    elif link_str == 'W':
        return 5

In [15]:
df['n_number'] = df.apply(lambda r: string_to_number_directions(r, 'N'), axis=1)
df['e_number'] = df.apply(lambda r: string_to_number_directions(r, 'E'), axis=1)
df['s_number'] = df.apply(lambda r: string_to_number_directions(r, 'S'), axis=1)
df['w_number'] = df.apply(lambda r: string_to_number_directions(r, 'W'), axis=1)

In [31]:
df.set_index(['x', 'y'], inplace=True)

In [18]:
def determine_lattice_size(df_in):
    # Assume square lattice
    max_x = df_in['x'].values().max()
    max_y = df_in['y'].values().max()
    if max_x != max_y:
        raise ValueError('Expecting x==y dimensions')
    return max_x

In [17]:
def create_full_numerical_representation(df_in):
    """
    Creates a matrix of numbers that can be interpreted by a CNN auto encoder.
    
    Requires running the ``string_to_number_directions`` function first.
    
    Checks for consistancy in the plaquette representations of the configurations.
    
    Arguments:
        df (DataFrame): is the dataframe of a plaquette representation of
        a configuration for which you have run the ``string_to_number_directions``
        on.
        
    Returns:
        A numpy matrix with zeros representing the verticies and centers of
        plaquetts and the number system as described by ``string_to_number_directions``
        representing the links.
    """
    df_working = df_in.copy()
    
    l = determine_lattice_size(df_working)
    # Will return this matrix
    m = np.zeros([l, l])
    for i in range(l):
        for j in range(l):
            cur_row = df_working.loc[i, j]
        
        # Fill in first row of plaquett information. This is done differently
        # than the other rows of plaquettes because for all others after this
        # we will check the bottom(top) of the previous row of plaquetts with
        # the top(bottom) of the current.
        if i == 0:
           m[]

N           B
E           B
S           E
W           B
n_number    1
e_number    1
s_number    4
w_number    1
Name: (2, 0), dtype: object

In [29]:
df.head()

   x  y  N  E  S  W  n_number  e_number  s_number  w_number
0  0  0  B  B  W  B         1         1         5         1
1  1  0  E  B  E  B         4         1         4         1
2  2  0  B  B  E  B         1         1         4         1
3  3  0  W  B  B  B         5         1         1         1
4  1  1  B  N  E  S         1         2         4         3